/*STAFF SECTION*/

.user-page {
	margin: 20px;
	background: #fff;
	padding: 20px;
	overflow: hidden;
}

/*ADD STAFF FORM*/

.create-user-container {
	float: left;
	width: 400px;
	padding: 30px 60px 30px;
	text-align: center;
	.create-user-form {
		margin: auto;
		width: 100%;
	}
}

/*STAFF LIST*/

.users-list {
	width: auto;
	margin-left: 420px;
}

.user-item {
	padding: 0px;
	overflow: hidden;
	min-height: 70px;
	margin-top: -1px;
	border-bottom: 1px dotted #d7cef3;
	.user-avatar {
		width: 64px;
		height: 64px;
		margin: 7px;
		float: left;
		border-radius: 100%;
		box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.75);
	}
	.user-info {
		margin-left: 100px;
		padding: 20px 0px;
		.user-name {
			font-size: 18px;
			font-weight: 700;
		}
		.user-role {
			font-size: 13px;
			letter-spacing: 1px;
		}
	}
	.user-actions {
		float: right;
		font-size: 12px;
		font-weight: 700;
		text-align: right;
		padding: 20px 0px;
		.user-action {
			display: inline-block;
			margin: 7px 0px 7px 10px;
			padding: 5px 10px;
			cursor: pointer;
			border-radius: 3px;
			background: rgba(112, 85, 193, 0.25);
			color: #fff;
			@include smoth(0.5s);
			&:hover {
				background: rgba(112, 85, 193, 0.5);
			}
		}
	}
}