.login-page-background {
	height: 100%;
	background-image: url('/static/images/logn-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.login-form-container {
	height: 100%;
	display: flex;
	justify-content: center;
	background: rgba(112, 85, 193, 0.64);
}

.login-form-centered {
	align-self: center;
	text-align: center;
}

.form-header {
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #fff;
}

/*LOGIN FORM*/

.login-form {
	border-radius: 4px;
	padding: 50px 70px;
	background: rgba(255, 255, 255, 0.4);
	@include smoth(0.5s);
	&:hover {
		background: rgba(255, 255, 255, 1);
		padding: 80px 100px;
	}
	label {
		padding-top: 10px;
		display: block;
		span {
			display: block;
			padding-bottom: 5px;
			text-align: left;
			color: #7055c1;
			font-size: 14px;
			font-weight: 700;
		}
		input {
			display: block;
			padding: 12px 20px;
			font-size: 15px;
			border: 2px solid #e0d6fd;
			border-radius: 30px;
			outline: none;
			min-width: 260px;
			&:focus {
				border: 2px solid #7055c1;
			}
		}
	}
	button {
		display: block;
		margin: 20px 0px 0px;
		padding: 12px 20px;
		font-size: 15px;
		font-weight: 700;
		background: #7055c1;
		color: #fff;
		border: 0px;
		border-radius: 4px;
		cursor: pointer;
		@include smoth(0.5s);
		&:hover {
			background: #967ee0;
		}
	}
	.error-indicator {
		display: block;
		padding: 15px 0px 0px;
		text-align: left;
		font-size: 13px;
		font-weight: 700;
		color: #da3400;
	}
}