.login-page-background {
	height: 100%;
	background-image: url('/static/images/logn-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.login-form-container {
	height: 100%;
	display: flex;
	justify-content: center;
	background: rgba(112, 85, 193, 0.64);
}

.login-form-centered {
	align-self: center;
	text-align: center;
}

.form-header {
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #fff;
}

/*LOGIN FORM*/

.login-form {
	min-width: 360px;
	padding: 40px 70px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
}