/*STAFF SECTION*/

.staff {
	margin: 20px;
	background: #fff;
	padding: 20px;
	overflow: hidden;
}

/*ADD STAFF FORM*/

.add-member-form {
	float: left;
	width: 30%;
	padding: 30px 20px 30px;
	text-align: center;
	form {
		margin: auto;
		width: 60%;
	}
	label {
		display: inline-block;
		margin: 0px 0px 10px 0px;
		width: 100%;
		span {
			display: block;
			padding: 0px 0px 4px 10px;
			width: 100%;
			text-align: left;
			font-size: 13px;
			font-weight: 700;
			color: #7055c1;
		}
		input {
			display: block;
			padding: 10px 15px;
			width: 100%;
			outline: none;
			border: 2px solid #e0d6fd;
			border-radius: 30px;
			&:focus {
				border: 2px solid #7055c1;
			}
		}
	}
	button {
		display: block;
		padding: 8px 15px;
		margin: 10px auto;
		border: 0px;
		border-radius: 4px;
		font-size: 13px;
		font-weight: 700;
		font-family: "Quicksand";
		color: #fff;
		background: #7055c1;
		cursor: pointer;
		@include smoth(0.5s);
		&:hover {
			background: #957ddc;
		}
	}
	.error-indicator {
		display: block;
		margin: 10px 0px 20px;
		text-align: center;
		font-size: 13px;
		font-weight: 700;
		color: #da3400;
	}
}

/*STAFF LIST*/

.staff-list {
	float: left;
	width: 70%;
	padding: 0% 5% 0% 0%;
}

.staff-list-member {
	padding: 0px;
	overflow: hidden;
	min-height: 70px;
	margin-top: -1px;
	border-bottom: 1px dotted #d7cef3;
	.member-info {
		padding: 23px 0px;
		width: 80%;
		float:left;
		.member-name {
			font-size: 18px;
			font-weight: 700;
		}
		.member-role {
			font-size: 13px;
			letter-spacing: 1px;
		}
	}
	.member-actions {
		width: 20%;
		float:left;
		font-size: 12px;
		font-weight: 700;
		text-align: right;
		padding: 10px 0px;
		.member-action {
			display: inline-block;
			margin: 20px 0px;
			padding: 5px 10px;
			cursor: pointer;
			border-radius: 3px;
			background: rgba(112, 85, 193, 0.25);
			color: #fff;
			@include smoth(0.5s);
			&:hover {
				background: rgba(112, 85, 193, 0.5);
			}
		}
	}
}